<h4>{{title}}</h4>
<div class="chart" id="rink"></div>

<script>
$(document).ready(function(){
var fullHorzSvg = d3.select("#rink")
  .append("svg")
  .attr("width", 1000)
  .attr("height", 500);

var fullHorzPlot = new RINK_MAP({
    parent: fullHorzSvg,
    fullRink: true,
    desiredWidth: 400,
    horizontal: true
  });
var x =
d3.scaleLinear().range( [941,100]).domain([0, 55]),
y = d3.scaleLinear().range([0,400-100]).domain([0,21]),
z = d3.scaleLinear().range([0,400]);

fullHorzPlot();
var g = d3.select(".chart").select("svg").select(".zones");
var loop_count = 0;
var skaterData=[0];

var icon;
d3.xml("/images/svg/skater.svg").mimeType("image/svg+xml").get(function (error, frag) {
  if (error)
    throw error;

  var node = frag.getElementsByTagName("g")[0];
  icon = function () {
    return node.cloneNode(true);
  }

  d3.csv("/data/round.csv", function (data) {
    skaterData = data.map(function(d){
      return { id: d.id.split(';')[1], h:Number(d.heading),x:Number(d.x), y:Number(d.y), z:Number(d.z)}
    });
    let distance=0;
    skaterData.forEach(function(d){
      distance += Math.sqrt(Math.pow(d.x,2)+Math.pow(d.y,2));
      d.distance = Math.floor(distance);
    });

    /*x.domain(d3.extent( skaterData, function(d){return d.x}));
    console.log( x.domain());
    y.domain(d3.extent( skaterData, function(d){return d.y}));
    console.log( y.domain());
    z.domain(d3.extent( skaterData, function(d){return d.z}));
    console.log( z.domain());*/

    //each line should have: time,x,y,velocity,direction,force,direction
  var t = d3.interval(function (elapsed) {
      refresh();
      if (loop_count >= skaterData.length-1) {
        t.stop();
      }
      loop_count += 1;
    }, 1000);
  refresh();
  })
});
var color2 = d3.scaleLinear()
  .domain([0, 100])
  .range(['#d73027', '#1a9850'])
  .interpolate(d3.interpolateRgb);

function refresh() {
let data = [skaterData[loop_count]];

  var bar = g.selectAll(".bar")
    .data(data);

  bar.enter().append(icon)
  .attr("class", "icon");

	bar.enter().append("text").attr("class", "label")
  .attr("dy", ".35em")
  .text(function (d) {
    return Math.floor(d.id);
  });


  var label = g.selectAll(".label").data(data, function (d) {
  		return d.id;
  	});

  var bicycle = g.selectAll(".icon").data(data);

  bicycle.exit().remove();

  bicycle.transition().duration(1000)
  .attr("transform", function (d) {
    return "translate(" + x(d.x) + "," + y(d.y)  + ")scale(-0.04, 0.04)  rotate("+d.h+")";
  })
  .attr("fill", function (d) {
    return 0;//color2(50);//should be speed or acceleration
  })
  .attr("stroke-width", function (d) {
    return 1;
  });

 	label.transition().duration(2000)
  .attr("transform", function (d) {
    return "translate(" + x(d.x) + "," + y(d.y)  + ")";
  })
  .style("text-anchor", "end")
  .text(function (d) {
    return d.id+" "+d.distance;
  });

  label.exit().remove();

  bar.exit().remove();

}

});
function bounded( v, low, high){
  if( v < low ) return low;
  if( v > high) return high;
  return v;
}
function parseTime( tstring){
  let t = tstring.split(":");
  return Number(t[0])*3600*10+Number(t[1])*60*10+Number(t[2])*10+Number(t[3]);
}
</script>
