<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/rink-style.css">
    <script type="text/javascript" src="/javascripts/rinkPlot.js"></script>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
    
  </body>
</html>
